.advantages {
    padding-top: 104px;
    padding-bottom: 104px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222224;

}

.adv {
    @include flexColumn();
    align-content: center;
    justify-content: center;

    &_img {
        padding-bottom: 19px;

        &:hover {
            animation: heartbeat 1.5s ease-in-out infinite both;
        }
    }

    &_header {
        @include fontSite(20px, 400);
        color: #FBFBFB;
        padding-bottom: 16px;
    }

    &_text_pros {
        @include fontSite(14px, 300);
        color: #FBFBFB;
        text-align: center;
        line-height: normal;
    }


}