* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box
}


a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - $widthContent/2);
    padding-right: calc(50% - $widthContent/2);
}

img {
    max-width: 100%;
}

summary {
    display: block;

}

summary::-webkit-details-marker {
    display: none;
}

li {
    list-style-type: none;
}

// ::-webkit-input-placeholder {
//     text-align: center;
// }