.nav {
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding-top: 32px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin-top: 24px;
    right: -232px;
    transition: right .3s;

}

#burger {
    position: absolute;
    left: -9999090999px;
    visibility: hidden;

    &:checked~.nav {
        right: 0;
    }
}

.strips:hover {
    path {
        fill: #EF5B70;
    }

    transition: 0.3s ease;
    scale: 1.2;
}

.login:hover {
    path {
        fill: #EF5B70;
    }

    transition: 0.3s ease;
    scale: 1.2;

}

.basket_logo:hover {
    path {
        fill: #EF5B70;
    }

    transition: 0.3s ease;
    scale: 1.2;

}




.menu {
    background-color: #222222;
    position: relative;
    padding-top: 19px;
    padding-bottom: 19px;
    @include flexSpace;
    align-content: center;

    &_left {
        display: flex;

        &_logo_1:hover {
            transition: 0.3s ease;
            scale: 1.2;
        }

        &_loop:hover {
            transition: 0.3s ease;
            scale: 1.2;

            path {
                fill: #EF5B70;
            }
        }
    }

    &_right {
        @include flexCenter;
    }

    &_black {
        padding-left: 34px;
        padding-bottom: 24px;
        color: $colorBlack;
        @include fontSite(14px, 700);

    }
}



.pink {
    &_men {
        @include menu_pink();
    }

    &_women {
        @include menu_pink();
    }

    &_kids {
        @include menu_pink();
    }
}


.dropdown-menu {
    display: flex;
    gap: 11px;
    flex-direction: column;
}

.dropdown-item:hover {
    color: #F16D7F;
}


.i {
    @include fontSite(14px, 400);
    padding-left: 54px;
    color: #6F6E6E;

}


.b_3 {
    position: relative;
    padding-left: 17px;

    &::after {
        border-radius: 25px;
        position: absolute;
        right: -15px;
        bottom: 20px;
        width: 15px;
        height: 20px;
        display: flex;
        justify-content: center;
        content: "5";
        color: white;
        background-color: #F26376;

    }
}


.top {
    @include flexSpace();
    height: 148px;
    background-color: #F8F3F4;

    &_left {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 14%;
        display: flex;
        justify-content: flex-start;

    }
}

.shopping_card_text {
    color: $colorPink;
    @include fontSite(24px, 400);


    &:hover {
        scale: 1.02;
        transition: 0.3s;
    }
}

.main_area {

    display: flex;
    justify-content: space-between;

    &_right {
        padding-top: 96px;
        padding-bottom: 72px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &_left {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-start;

        &_input_field {
            padding-top: 113px;
            display: flex;
            gap: 21px;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: flex-start;
        }
    }

}

.card {
    display: flex;
    flex-direction: row;
    width: 652px;
    height: 300px;
    flex-shrink: 0;
    box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));



    &_content {
        padding-right: 97px;
        padding-left: 31px;
        display: flex;
        gap: 6px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &_title_field {
        display: flex;
        align-items: baseline;

    }

    &_title {
        padding-bottom: 42px;
        color: $colorBlack;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_escape {
        position: relative;
        left: 57px;
    }

    &_price_field {
        display: flex;
        gap: 5px;
    }

    &_price_text {
        @include usual_text();
    }

    &_price {
        color: $colorPink;
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_color_fied {
        display: flex;
        gap: 5px;
    }

    &_color_text {
        @include usual_text();
    }

    &_color {
        @include usual_text();
    }

    &_size_field {
        display: flex;
        gap: 5px;
    }

    &_size_text {
        @include usual_text();
    }

    &_size {
        @include usual_text();
    }

    &_quantity_field {

        display: flex;
        gap: 5px;

    }

    &_input_number_text {
        @include usual_text();

    }

    &_number {

        @include usual_text();
    }

    &_span_number {
        border: none;
        outline: none;
    }

}

.crest:hover {
    transition: 0.4s;
    scale: 1.4;

    path {
        fill: #EF5B70;
    }
}

#input_1 {
    width: 61px;
    height: 24.949px;
    flex-shrink: 0;
}

#input_0 {
    width: 61px;
    height: 24.949px;
    flex-shrink: 0;
}



input {
    padding: 0 16px;
}

#ph {
    color: #222;
    @include fontSite(13px, 300);
    width: 358.986px;
    height: 44px;
    flex-shrink: 0;
}

#ph_2 {
    color: #222;
    @include fontSite(13px, 300);
    width: 358.986px;
    height: 44px;
    flex-shrink: 0;
}


#ph_1 {
    opacity: 0.5;
    color: #B1B1B1;
    @include fontSite(13px, 300);
    width: 358.986px;
    height: 44px;
    flex-shrink: 0;
}

.quote {
    &:hover {
        &:hover {
            transition: 0.3s ease-in;
            scale: 1.1;
            background-color: #F16D7F;
        }
    }

    width: 101.408px;
    height: 35px;
    flex-shrink: 0;
    color: #4A4A4A;
    @include fontSite(11px, 300);
    background-color: white;
    border: 1px solid gray;
}

.order_card {
    display: flex;
    margin-top: 57px;
    width: 360px;
    height: 214px;
    flex-shrink: 0;
    background-color: #F5F3F3;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    &_price_top_field {
        padding-top: 39px;
        padding-bottom: 12px;
        display: flex;
        gap: 30px;
        justify-content: flex-end;
    }

    &_price_top_text {
        color: #4A4A4A;
        @include fontSite(11px, 300);
    }

    &_price_top {
        color: #4A4A4A;
        @include fontSite(11px, 400);

    }

    &_price_bot_field {
        padding-bottom: 21px;
        display: flex;
        gap: 30px;
        justify-content: flex-end;
    }

    &_price_bot_text {
        color: $colorBlack;
        @include fontSite(16px, 300);

    }

    &_price_bot {
        color: $colorPink;
        @include fontSite(16px, 700);

    }

    &_button_box {
        &:hover {
            transition: 0.3s ease-in;
            scale: 1.02;

        }

        width: 273px;
        height: 50px;
        background-color: #F16D7F;
        ;
        display: flex;
        justify-content: center;
    }

    &_final_button {

        border: none;
        background-color: #F16D7F;

        &_text {
            color: #FFF;
            @include fontSite(16px, 300);
            align-items: center;

        }
    }

    &_devider {
        padding-bottom: 17px;
        display: flex;
        justify-content: center;
    }


}

.main_bot_buttons {

    display: flex;
    gap: 192px;
    flex-direction: row;
    align-content: center;
    padding-left: 230px;
    padding-bottom: 128px;

    &_example {
        border: 1px solid gray;
        width: 225px;
        height: 50px;
        flex-shrink: 0;
        color: $colorBlack;
        @include fontSite(14px, 300);
        background-color: #fff;

        &:hover {
            transition: 0.3s ease-in;
            scale: 1.02;
            background-color: #F16D7F;
        }
    }

}




@media (min-width: 768px) and (max-width: 1024px) {
    $contentWidth: 736px;

    .center {
        padding-left: calc(50% - $contentWidth/2);
        padding-right: calc(50% - $contentWidth/2);

    }
}

@media (min-width: 375px) and (max-width: 768px) {
    $contentWidth: 344px;

    .center {
        padding-left: calc(50% - $contentWidth/2);
        padding-right: calc(50% - $contentWidth/2);

    }
}