.basement {
    background-color: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &_text {
        @include fontSite(16px, 400);
        color: #FBFBFB;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &_left {
        display: flex;

    }

    &_right {
        display: flex;
        gap: 7px;
    }

}

.twitter {
    &:hover {
        transition: 0.3s ease-in;
        scale: 1.2;
    }

}

.pinterest:hover {
    transition: 0.3s ease-in;
    scale: 1.2;
}