.nav {
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding-top: 32px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin-top: 24px;
    right: -2232px;
    transition: right .3s;

}


#burger {
    position: absolute;
    left: -9999090999px;
    visibility: hidden;

    &:checked~.nav {
        right: 0;
    }

}


.menu {

    position: relative;
    height: 75px;
    flex-shrink: 0;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;

    &_left {
        display: flex;
        justify-content: flex-start;
        gap: 41px;
        align-items: flex-end;
        padding-left: 14%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    &_right {

        display: flex;
        justify-content: flex-end;
        padding-right: 15%;
        gap: 25px;
        align-items: center;
    }


}

.menu_black {
    padding-left: 34px;
    padding-bottom: 24px;
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.pink {
    &_men {
        @include menu_pink();
    }

    &_women {
        @include menu_pink();
    }

    &_kids {
        @include menu_pink();
    }
}


.dropdown-menu {
    display: flex;
    gap: 11px;
    flex-direction: column;
}

.dropdown-item:hover {
    color: #F16D7F;
}


.i {

    padding-left: 54px;
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.b_3 {
    position: relative;
    padding-left: 17px;

    &::after {
        border-radius: 25px;
        position: absolute;
        right: -15px;
        bottom: 20px;
        width: 15px;
        height: 20px;
        display: flex;
        justify-content: center;
        content: "5";
        color: white;
        background-color: #F26376;

    }
}



.add_to_cart {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 212px;
    height: 48.406px;
    border: 1px solid #FF6A6A;
    padding: 15px 39px 15px 39px;

    &:hover {
        transition: 0.5s;
        scale: 1.2;

    }

}

.text_add_to_cart {
    text-decoration: $textdecorationStyle;
    align-items: center;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.img_add_to_cart {
    background-color: white;

}

.bot_section {
    display: flex;
    justify-content: center;
}

.subtop {
    display: flex;
    justify-content: space-around;
    padding-top: 51px;
    padding-bottom: 65px;

}


.filter {
    min-width: 360px;
    position: absolute;


    &[open] {
        .filter_heading {
            color: #EF5B70
        }
    }

    &[open] path {
        fill: #EF5B70;
    }

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &_sort {

        z-index: 10;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &_heading {

        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &_item {
        margin: 15px;

        &[open] {
            .filter_head {
                color: #EF5B70
            }
        }

    }

    &_link {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: $textdecorationStyle ;
    }

    &_link_box {
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &_head {
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid #EF5B70;
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: block;


        &::-webkit-details-marker {
            display: none;
        }

    }

}


.right_subtop {
    position: relative;
    right: 20%;
    display: flex;
    flex-direction: row;
    z-index: 2;

    &_trending_now {
        padding-right: 10px;
        padding-left: 28px;

        &:hover {
            color: #F16D7F;
        }
    }

    &_text {
        padding-bottom: 12px;
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;

        &::-webkit-details-marker {
            display: none;
        }


    }

}


.size {
    display: flex;
    gap: 18px;
    padding-top: 12px;

    &_box_container {
        position: absolute;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 10px 30px 11px 9px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &_box {
        z-index: 2;

    }

    &_check {
        display: flex;
        gap: 9px;
        align-items: center;
    }



}




.pag_block {
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
}

.pagination {
    width: 283.995px;
    height: 44px;
    flex-shrink: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 18px;

    &_link {
        color: #C4C4C4;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &_link:hover {
        color: #EF5B70
    }

}