.nav {
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding-top: 32px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin-top: 24px;
    right: -232px;
    transition: right .3s;

}


#burger {
    position: absolute;
    left: -9999090999px;
    visibility: hidden;

    &:checked~.nav {
        right: 0;
    }

}


.menu {

    position: relative;
    height: 75px;
    flex-shrink: 0;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;

    &_left {
        display: flex;
        justify-content: flex-start;
        gap: 41px;
        align-items: flex-end;
        padding-left: 14%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    &_right {

        display: flex;
        justify-content: flex-end;
        padding-right: 15%;
        gap: 25px;
        align-items: center;
    }


}

.menu_black {
    padding-left: 34px;
    padding-bottom: 24px;
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.pink {
    &_men {
        @include menu_pink();
    }

    &_women {
        @include menu_pink();
    }

    &_kids {
        @include menu_pink();
    }
}


.dropdown-menu {
    display: flex;
    gap: 11px;
    flex-direction: column;
}

.dropdown-item:hover {
    color: #F16D7F;
}


.i {

    padding-left: 54px;
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.b_3 {
    position: relative;
    padding-left: 17px;

    &::after {
        border-radius: 25px;
        position: absolute;
        right: -15px;
        bottom: 20px;
        width: 15px;
        height: 20px;
        display: flex;
        justify-content: center;
        content: "5";
        color: white;
        background-color: #F26376;

    }
}


.top {
    display: flex;
    justify-content: space-between;
    height: 148px;
    background-color: #F8F3F4;

    &_left {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 14%;
        display: flex;
        justify-content: flex-start;

    }

    &_right {
        padding-top: 65px;
        padding-bottom: 65px;
        padding-right: 14%;
        display: flex;
        justify-content: flex-end;

    }
}


.new_arrivals {

    text-decoration: none;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.top_right {
    &_first {
        color: #636363;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &_second {
        color: #F16D7F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
}





.add_to_cart {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 212px;
    height: 48.406px;
    border: 1px solid #FF6A6A;
    padding: 15px 39px 15px 39px;

    &:hover {
        transition: 0.5s;
        scale: 1.2;

    }

}

.text_add_to_cart {
    text-decoration: $textdecorationStyle;
    align-items: center;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.img_add_to_cart {
    background-color: white;

}

.bot_section {
    display: flex;
    justify-content: center;
}

.subtop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 31px;
    align-items: center;
}

.right_subtop {
    position: relative;
    right: 30px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    height: 100px;

    &_trending_now {
        padding-right: 10px;
        padding-left: 28px;
    }

    &_text {
        padding-bottom: 12px;
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;

        &::-webkit-details-marker {
            display: none;
        }


    }

}

.size {
    display: flex;
    gap: 18px;
    padding-top: 12px;

    &_box_container {
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 10px 30px 11px 9px;
        display: flex;
        flex-direction: column;
        gap: 6px;

    }

    &_box {
        z-index: 2;

    }

    &_check {
        display: flex;
        gap: 9px;
        align-items: center;
    }



}

.right_subtop_trending_now:hover {
    color: #F16D7F;
}

.filter {
    width: 360px;
    box-sizing: border-box;
    padding: 16px 16px;


    &[open] {
        .filter_heading {
            color: #EF5B70
        }
    }

    &[open] path {
        fill: #EF5B70;
    }

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &_sort {
        padding-left: 14%;
        z-index: 2;
        height: 132px;
    }

    &_summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &_heading {

        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &_item {
        margin: 15px;

        &[open] {
            .filter_head {
                color: #EF5B70
            }
        }

    }

    &_link {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: $textdecorationStyle ;
    }

    &_link_box {
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &_head {
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid #EF5B70;
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: block;


        &::-webkit-details-marker {
            display: none;
        }

    }

}


.cards {
    margin-right: 14%;
    margin-left: 14%;
    padding-bottom: 128px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 32px;
}

.item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;

}

.overlay_box {
    position: relative;
    width: 100%;
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.item:hover .overlay {
    opacity: 1;
    background: rgba(58, 56, 56, 0.86);
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.02);
    background-blend-mode: overlay;
    opacity: 0.5;

}


.add {
    color: white;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.item_content {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.first:after {
    content: '  new!';
    color: rgb(255, 0, 0);
}

.img_item {
    display: block;
    height: auto;
    padding-bottom: 24px;
}

.heading_item {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_item {

    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 18px;

}

.price_item {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.img_item2 {

    width: 100%;
    flex-shrink: 0;
    background-image: url(../HW_Site/img/)
}



.pag_block {
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
}

.pagination {
    width: 283.995px;
    height: 44px;
    flex-shrink: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 18px;

    &_link {
        color: #C4C4C4;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &_link:hover {
        color: #EF5B70
    }

}