.menu {
    height: 75px;
    flex-shrink: 0;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;

    &_left {
        display: flex;
        justify-content: flex-start;
        gap: 41px;
        align-items: flex-end;

    }

    &_right {
        display: flex;
        justify-content: flex-end;
        gap: 25px;
        align-items: center;
    }

    &_black {
        @include menu_black();
    }

    &_pink {
        @include menu_pink();
    }

    &_i {
        padding-left: 33.5px !important;

    }

}

.b_3 {
    position: relative;
    padding-left: 17px;

    &::after {
        border-radius: 25px;
        position: absolute;
        right: -15px;
        bottom: 20px;
        width: 15px;
        height: 20px;
        display: flex;
        justify-content: center;
        content: "5";
        color: white;
        background-color: #F26376;

    }
}


.big_img_area {
    background-color: #F1E4E6;
    ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 65px;

    &_left {
        display: flex;
        align-items: center;

        &_img {
            background-color: rgba(113, 103, 105, 0.08);

        }
    }

    &_right {
        width: 50%;
        display: flex;
        gap: 16px;

        &_text {
            width: 377px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
        }
    }
}


.brand {
    .center {
        padding-left: calc(50% - 570px);
        padding-right: calc(50% - 570px);
    }

    color: $colorBlack;
    @include fontSite(48px, 900);

    &:hover {
        color: $colorPink;

    }
}

.of_luxurious {

    @include fontSite(32px, 700);
    color: $colorBlack;
}

.fashion {
    color: $colorPink;
    @include fontSite(32px, 700);

}