@mixin menu_pink() {
    padding-left: 32px !important;
    padding-top: 20px !important;
    padding-bottom: 12 !important;
    color: #F16D7F !important;
    font-family: Lato !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

@mixin menu_black() {
    padding-left: 33px !important;
    padding-bottom: 24px !important;
    color: #000 !important;
    font-family: Lato !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: normal !important;
}

@mixin usual_text() {
    color: #575757;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin fontSite ($size, $weight, $height: normal) {
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: $height;
}

@mixin flexSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button ($border: none, $background: none) {
    cursor: pointer;
    background: $background;
    outline: none;
    border: $border;
    transition: all 0.3s;
}