.carousel {

    display: flex;
    flex-direction: column;
}

.arrow {
    &_right:hover {
        path {
            fill: #F16D7F
        }
    }

    &_left:hover {
        path {
            fill: #F16D7F
        }
    }

}



.carousel-control-prev-icon {
    background-image: none !important;

}

.carousel-control-next-icon {
    background-image: none !important;

}

.carousel_section {
    margin-bottom: 129px;
    border: 0.3px solid gray;
    margin-right: 14%;
    margin-left: 14%;
    height: 601px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    &_title {
        color: $colorPink;
        @include fontSite(14px, 300);
        padding-top: 65px;
        padding-bottom: 12px;

    }

    &_devider {
        padding-bottom: 12px;

    }

    &_subtitle {
        color: #4D4D4D;
        @include fontSite(18px, 300);
        padding-bottom: 48px;

    }

    &_text {
        color: #5E5E5E;
        @include fontSite(14px, 300);
        text-align: center;
        padding-bottom: 32px;

    }

    &_price {
        color: $colorPink;
        @include fontSite(24px, 300);
        padding-bottom: 65px;
    }

    &_vector {
        padding-bottom: 49px;
    }
}





.span {
    &_row {
        display: flex;
        flex-direction: row;
        gap: 23px;
        padding-bottom: 48px;

    }

    &_text {
        color: #6F6E6E;
        @include fontSite(14px, 400);
        gap: 10px;

        &:hover {
            path {
                fill: #F26376;
                transition: 0.3s;
                scale: 1.02;
            }
        }
    }

    &_img {
        padding-left: 2px;

    }
}

.bot_section {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}

.add_to_cart {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 212px;
    height: 48.406px;
    border: 1px solid #FF6A6A;
    padding: 15px 39px 15px 39px;

    &:hover {
        transition: 0.5s;
        scale: 1.2;

    }

}

.text_add_to_cart {
    text-decoration: $textdecorationStyle;
    align-items: center;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    padding-bottom: 40px;
    gap: 30px;
    justify-content: center;
}

.item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;

}

.overlay_box {
    position: relative;
    width: 100%;
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.item:hover .overlay {
    opacity: 1;
    background: rgba(58, 56, 56, 0.86);
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.02);
    background-blend-mode: overlay;
    opacity: 0.5;

}

.add {
    color: #FFF;
    @include fontSite(14px, 400);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.item_content {
    background-color: #F8F8F8;
    ;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.first:after {
    content: '  new!';
    color: rgb(255, 0, 0);
}

.img_item {
    display: block;
    height: auto;

}


.heading_item {
    @include fontSite(13px, 400);
    padding-bottom: 13px;
    color: $colorBlack;

}

.text_item {
    padding-bottom: 18px;
    @include fontSite(14px, 300);
    color: #5D5D5D;

}

.price_item {
    padding-bottom: 20px;
    color: $colorPink;
    @include fontSite(16px, 400);
}

.img_item2 {

    width: 100%;
    flex-shrink: 0;
    background-image: url(../HW_5/img/)
}