@media (min-width: 768px) and (max-width: 1024px) {
    $contentWidth: 736px;

    .center {
        padding-left: calc(50% - $contentWidth/2);
        padding-right: calc(50% - $contentWidth/2);

    }

    .main_area {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &_right {
            padding-top: 96px;
            padding-bottom: 72px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &_left {
            margin-bottom: 147px;
            padding-top: 103px;
            gap: 16px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;

            &_input_field {
                padding-top: 0;
                display: flex;
                gap: 21px;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: flex-start;
                align-items: flex-start;
            }
        }

    }

    .order_card {
        margin-top: 6%;
        width: 360px;
        display: flex;
        flex-shrink: 0;
        background-color: #F5F3F3;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

    }

    .filter {
        min-width: 360px;
        position: absolute;

        &_sort {
            display: flex;
            justify-content: flex-start;
            z-index: 10;
        }
    }

    .subtop {
        display: flex;
        justify-content: space-between;
        padding-top: 51px;
        padding-bottom: 65px;

    }

    .right_subtop {
        position: relative;
        right: 0;
        display: flex;
        flex-direction: row;
        z-index: 2;
    }


    .middle_preitem {
        width: 30%;
    }

    .big {
        width: 97%;
    }

    .bottom_item {
        padding-left: 3%;
    }


    .middle {
        margin-bottom: 109px;
    }

    .bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
        align-items: center;
        justify-items: center;
    }

    .bot {

        margin-bottom: 71px;
    }

    .brand {
        font-size: 44px;
    }

    .of_luxurious {

        font-size: 24px;

    }

    .fashion {

        font-size: 24px;

    }

    .i2_top {

        padding-bottom: 15px;
    }


    .buttons {
        opacity: 0;


    }

    .advantages {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        gap: 48px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }



    .subscribe_section {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

    }

    .figure_left_img {
        padding-top: 64px;
    }

    .subs_right {
        padding-top: 60px;
    }


    .carousel_section {
        margin-right: 0;
        margin-left: 0;
        border-top: 0.3px solid gray;
        border-bottom: 0.3px solid gray;
    }

    .carousel {
        padding-bottom: 0;
    }

    .arrow_left {
        position: absolute;
        top: 300px;
    }

    .arrow_right {
        position: absolute;
        top: 300px;

    }

    .cards {
        grid-template-columns: repeat(2, 360px);
    }

    .item_9_hidden {
        display: none;
    }

    .third_item_hidden {
        display: none;
    }

    .top {
        &_left {
            padding-left: 16px;

        }

        &_right {
            padding-right: 16px;

        }
    }

    .registration_main_space {
        &_left {
            padding-left: 2%;

        }

        &_right {
            padding-left: 10%;
        }
    }

    #other {
        visibility: hidden;
    }


}